<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!--<add key="local" value="D:\dev\dotnet\runtime\artifacts\packages\Release\Shipping" />-->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-core-arcade" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="MonoMod-dev" value="https://pkgs.dev.azure.com/MonoMod/MonoMod/_packaging/DevBuilds/nuget/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>
